@mixin display($display: flex, $flex-direction: row, $justify-content: center, $align-items: center, $gap: 0px) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin feature($font-weight: 400, $font-size: 13px, $line-height: 20px, $color: $PrimaryColor, $padding: 0px) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;   
    padding: $padding; 
}